flows.json
[
    {
        "id": "dac2f6a2362e5d99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e657e44f2fa9caf",
        "type": "inject",
        "z": "dac2f6a2362e5d99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "c3a0a31ab77c61cf"
            ]
        ]
    },
    {
        "id": "9998bc405d82b600",
        "type": "debug",
        "z": "dac2f6a2362e5d99",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "c3a0a31ab77c61cf",
        "type": "function",
        "z": "dac2f6a2362e5d99",
        "name": "function 1",
        "func": "msg.payload = \"Hello world\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "9998bc405d82b600"
            ]
        ]
    }
]